html {
  background-image: url(./images/download.jpeg);
  text-align: center;
}

main {
  margin-bottom: 20px;
}

#title {
  color: rgb(242, 5, 218);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 1000;
}

#black {
  background-color: black;
  border: solid black 1px;
  padding: 25px;
  display: inline-block;
  border-radius: 50%;
}

#red {
  background-color: red;
  border: solid black 1px;
  padding: 25px;
  display: inline-block;
  border-radius: 50%;
}

#green {
  background-color: green;
  border: solid black 1px;
  padding: 25px;
  display: inline-block;
  border-radius: 50%;
}

#blue {
  background-color: blue;
  border: solid black 1px;
  padding: 25px;
  display: inline-block;
  border-radius: 50%;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: solid black 1px;
  display: inline-block;
}

#color-palette {
  margin-bottom: 25px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
